.gallery{
 display: grid;
 grid-template-columns: repeat(auto-fit, 284px);
 grid-template-rows: repeat(3, 213px);
 gap: 16px;
 padding: 92px 0 0 0;
 justify-content: center;
}
 @media screen and (max-width: 1024px) {
 .photo-grid {
 grid-template-columns: repeat(auto-fit, 300px);
 grid-template-rows: repeat(3, 225px);
 gap: 14px;
 }
}
@media screen and (max-width: 768px) {
 .photo-grid {
 grid-template-columns: repeat(auto-fit, calc(50vw - 50px));
 grid-template-rows: none;
 gap: 16px;
 padding: 88px 24px 0 24px;
 }
}
@media screen and (max-width: 320px) {
 .photo-grid {
 grid-template-columns: repeat(auto-fit, 100%);
 row-gap: 16px;
 padding: 64px 16px 0 16px;
 }
}