.cover__subtitle{     
 max-width: 360px;
 font-family: 'Inter', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 22px;
 text-align: center;
 margin: 32px 0 0 0;
 color: #FFFFFF;
 grid-row: 2;
 grid-column: 1;
 align-self: start;
 z-index: 1;
}
@media screen and (max-width: 550px) {
 .cover__subtitle {
 font-size: 14px;
 line-height: 16px;
 margin-top: 16px;
 }
}
