.footer__block-item {
 margin-right: 18px;
}
@media screen and (max-width: 680px) {
 .footer__block-item {
 margin: 0;
 font-size: 24px;
 line-height: 24px;
 }
 .footer__block-item:not(:first-child){
 margin-top: 32px;
 }
}