.intro__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;

    color: #FFFFFF;
    max-width: 690px;
    margin: 40px 0 0;
}

@media screen and (max-width: 320px) {
    .intro__text {
        font-size: 16px;
        line-height: 26px;
    }
}