.lead__figure_image{
 width: 100%;
 margin: 0;
 padding: 0;
}
@media screen and (max-width: 1024px) {
 .lead__figure_image {
     margin: 0;
 }
}
@media screen and (max-width: 320px) {
 .lead__figure_image {
     margin: 0;
    }
}