.cover__title{       
 max-width: 560px;
 font-family: 'Inter', sans-serif;
 font-style: normal;
 font-weight: 900;
 font-size: 72px;
 line-height: 76px;
 text-align: center;
 margin: 0;
 color: #FFFFFF;
 grid-row: 1;
 grid-column: 1;
 align-self: end;
 z-index: 1;
}
@media screen and (max-width: 550px) {
 .cover__title {
 font-size: 32px;
 line-height: 35px;
 }
}